<div class="col-lg-10 col-lg-offset-1">
  <h2>What we do ?</h2>
  <hr class="small">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
        <a href="http://www.meetup.com/fr-FR/ngMorocco/" target="_blank" class="link-light">
          <h4>
            <strong>Meetup</strong>
          </h4>
        </a>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a href="#" class="btn btn-light">Learn More</a> -->
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code fa-stack-1x text-primary"></i>
                            </span>
        <h4>
          <strong>Coding Dojo</strong>
        </h4>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a href="#" class="btn btn-light">Learn More</a> -->
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cutlery fa-stack-1x text-primary"></i>
                            </span>
        <h4>
          <strong>Brown Bag Lunch</strong>
        </h4>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a href="#" class="btn btn-light">Learn More</a> -->
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-video-camera fa-stack-1x text-primary"></i>
                            </span>
        <h4>
          <strong>Conference</strong>
        </h4>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a href="#" class="btn btn-light">Learn More</a> -->
      </div>
    </div>
  </div>
  <!-- /.row (nested) -->
</div>
