<div class="conrainer mb-50">
<div class="text-center">
  <h3>Meet Our Organizers !</h3>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="app/images/img.jpg" alt="member's name">
      <div class="caption">
        <h3>Member 1</h3>
        <p>Details about member</p>
        <p>
        <a href="#" class="btn btn-default" role="button">Twitter </a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="app/images/img.jpg" alt="member's name">
      <div class="caption">
        <h3>Member 2</h3>
        <p>Details about member</p>
        <p>
        <a href="#" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="app/images/img.jpg" alt="member's name">
      <div class="caption">
        <h3>Member 3</h3>
        <p>Details about member</p>
        <p>
        <a href="#" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="app/images/img.jpg" alt="member's name">
      <div class="caption">
        <h3>Member 1</h3>
        <p>Details about member</p>
        <p>
        <a href="#" class="btn btn-default" role="button">Twitter </a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="app/images/img.jpg" alt="member's name">
      <div class="caption">
        <h3>Member 2</h3>
        <p>Details about member</p>
        <p>
        <a href="#" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="app/images/img.jpg" alt="member's name">
      <div class="caption">
        <h3>Member 3</h3>
        <p>Details about member</p>
        <p>
        <a href="#" class="btn btn-default" role="button">Twitter</a></p>
      </div>
    </div>
  </div>
</div>

</div>
