<div class="col-md-6 col-sm-4">
  <img src="app/images/logo.png" alt="ngMorocco">
</div>

<div class="col-md-5 mt-10-percent">
  <h3>The Moroccan AngularJS Developer Community</h3>
  The main goal of ngMorocco is to share AngularJS knowledge and best-practices, to gather people who are passionate about AngularJS and enable them to talk, socialize and learn from the best, with delicious food and a friendly atmosphere no matter your gender, age, physical appearance, body size, race, or religion.
</div>
