<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

     <a class="navbar-brand" href="#">
       <img src="app/images/smallLogo.png" alt="ngMorocco Logo" style="width: 30px;" />
     </a>
     <ul class="nav navbar-nav navbar-right">
       <li><a [routerLink]="['/']"></a></li>
       <!--<li><a [routerLink]="['/whatWeDo']">What we do ?</a></li>
       <li><a [routerLink]="['team']">Organizers</a></li>-->
     </ul>

 </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row mt-10">
      <div class="col-md-6 col-md-offset-5">

        <a target="_blank" class="nav-link"  href="https://fb.me/angularJsMorocco">
          <img class="footer-icon" border="0" alt="Facebook" src="app/images/icon_facebook.png">
        </a>

        <a target="_blank" class="nav-link"  href="https://twitter.com/ngMorocco">
          <img class="footer-icon" border="0" alt="Twitter" src="app/images/icon_twitter.png">
        </a>

        <a target="_blank" class="nav-link"  href="https://plus.google.com/u/0/b/117323506670840622332">
          <img class="footer-icon" border="0" alt="Google+" src="app/images/icon_google.png">
        </a>

        <a target="_blank" class="nav-link"  href="http://www.meetup.com/r/inbound/0/0/shareimg/http://www.meetup.com/fr-FR/ngMorocco/?a=shareimg">
        <img class="footer-icon" border="0" alt="AngularJS Community in Morocco" src="app/images/icon_meetup.png">
        </a>
        <a target="_blank" class="nav-link"  href="https://ngmorocco.herokuapp.com">
          <img class="footer-icon" border="0" alt="Join us on Slack" src="app/images/icon_slack.png">
        </a>
      </div>

    </div>
  </div>


</nav>
