<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

     <a class="navbar-brand" href="#">
       <img src="" alt="ngMorocco Logo" />
     </a>
     <ul class="nav navbar-nav navbar-right">
       <li><a [routerLink]="['/meetup']">Meetups</a></li>
       <li><a [routerLink]="['team']">Organizers</a></li>
       <li><a [routerLink]="['contact']">Contact</a></li>
     </ul>

 </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row mt-10">
      <div class="col-md-6 col-md-offset-5">
        <a target="_blank" class="nav-link" href="https://fb.me/angularJsMorocco"><i class="ti-facebook social"> </i></a>
        <a target="_blank" class="nav-link"  href="https://twitter.com/ngMorocco"><i class="ti-twitter-alt social"> </i></a>
        <a target="_blank" class="nav-link"  href="https://plus.google.com/u/0/b/117323506670840622332"><i class="ti-google social"> </i></a>
        <a target="_blank" class="nav-link"  href="http://www.meetup.com/r/inbound/0/0/shareimg/http://www.meetup.com/fr-FR/ngMorocco/?a=shareimg">
          <img class="meetup-icon" border="0" alt="La communauté AngularJS au Maroc" src="app/images/icon_meetup.png">
        </a>
      </div>

    </div>
  </div>


</nav>
