<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
   
     <a class="navbar-brand" href="#">
       <img alt="ngMorocco Logo" src="...">
     </a>
     <ul class="nav navbar-nav navbar-right">
       <li><a [routerLink]="['home']">Home</a></li>
       <li> <a [routerLink]="['about']">About</a></li>
       <li><a [routerLink]="['team']">Organizers</a></li>
       <li><a [routerLink]="['contact']">Contact</a></li>
     </ul>

 </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row mt-10">
      <div class="col-md-6 col-md-offset-5">
        <a target="_blank" class="nav-link" href="#"><i class="ti-facebook social"> </i></a>
        <a target="_blank" class="nav-link"  href="#"><i class="ti-twitter-alt social"> </i></a>
        <a target="_blank" class="nav-link"  href="#"><i class="ti-google social"> </i></a>
        <a target="_blank" class="nav-link"  href="#"><i class="ti-instagram social"> </i></a>
      </div>

    </div>
  </div>


</nav>
