<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">
       <img alt="ngMorocco Logo" src="...">
     </a>
     <ul class="nav navbar-nav navbar-right">
       <li><a [routerLink]="['home']">Home</a></li>
       <li> <a [routerLink]="['about']">About</a></li>
       <li><a [routerLink]="['team']">Organizers</a></li>
       <li><a [routerLink]="['contact']">Contact</a></li>
     </ul>
   </div>
 </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row" style="margin-top:10px">
      <div class="col-md-6 col-md-offset-5">
        <a target="_blank" href="#" style="text-decoration:none"><i class="ti-facebook" style="margin-right:40px;font-size:16px"> </i></a>
        <a target="_blank" href="#" style="text-decoration:none"><i class="ti-twitter-alt" style="margin-right:40px;font-size:16px"> </i></a>
        <a target="_blank" href="#" style="text-decoration:none"><i class="ti-google" style="margin-right:40px;font-size:16px"> </i></a>
        <a target="_blank" href="#" style="text-decoration:none"><i class="ti-instagram" style="margin-right:40px;font-size:16px"> </i></a>
      </div>

    </div>
  </div>


</nav>
