<div class="col-md-6 col-sm-4 homeContainer">
  <img src="app/images/logo.png" alt="The Moroccan AngularJS Developer Community" style="width: 70%">
</div>

<div class="col-md-5 mt-10-percent">
  <h3>The Moroccan AngularJS Developer Community</h3>
  The main goal of ngMorocco is to share AngularJS knowledge and best-practices,
   to gather people who are passionate about AngularJS and enable them to talk,
   socialize and learn from the best, with delicious food and a friendly atmosphere.
   Join Us !
  <div class="homeDescription">
    <h4>Learn - Share - Have fun</h4>
    <a href="http://goo.gl/forms/2BfJOII99zUbijAD2" class="btn btn-primary" target="_blank">Share Your Experience With Us</a>
  </div>
</div>
